<header class="df-header">
  <div class="wrapper -has-user">
    <div class="div"></div>
    <div class="logo-wrapper">
      <img
        class="image"
        src="assets/logo/devfreela.svg"
        alt="Logo da Dev Freela"
      />
    </div>

    <div class="user">
      <div class="info">
        <span id="name" class="name"></span>
        <span id="role" class="role"></span>
      </div>
      <div class="photo-wrapper">
        <img
          src="https://pics.craiyon.com/2023-06-27/287f2a60c2e74386b5a89c517eb527dc.webp"
          alt="Foto do usuário"
        />
      </div>
    </div>
  </div>
</header>
