<!-- SIMPLES -->
<header class="df-header">
  <div class="wrapper" *ngIf="!checkIfUserIsLogged()">
    <ng-container *ngTemplateOutlet="logoTemplate"></ng-container>
  </div>

  <!-- COMPLETO -->
  <div class="wrapper -has-user" *ngIf="checkIfUserIsLogged()">
    <div class="div"></div>

    <ng-container *ngTemplateOutlet="logoTemplate"></ng-container>

    <div class="user">
      <div class="info">
        <span class="name">{{ user.name }}</span>
        <span class="role">{{ user.role }}</span>
      </div>
      <div class="photo-wrapper">
        <img
          src="https://pics.craiyon.com/2023-06-27/287f2a60c2e74386b5a89c517eb527dc.webp"
          alt="Foto do usuário"
        />
      </div>
    </div>
  </div>
</header>

<!-- TEMPLATE - logo -->
<ng-template #logoTemplate>
  <div class="logo-wrapper">
    <img
      class="image"
      src="assets/logo/devfreela.svg"
      alt="Logo da Dev Freela"
    />
  </div>
</ng-template>
