.df-input{
    font-family: var(--df-font-family-base);
    font-size: calc(var(--df-font-size-base) + 8px);
    border: none;
    background: none;
    border-bottom: 1px solid var(--df-color-gray-light);
    outline: none;
    transition: border-color 0.5s;
    padding-bottom: 10px;
    width: 100%;
    margin-bottom: 32px;
}

.df-input:focus{
    border-color: var(--df-color-primary);
}

.df-input::placeholder{
    color: var(--df-color-gray-dark);
}