/* Clase base Df-Radio */
.df-radio {
  position: relative;
  padding-left: 32px;
  padding-top: 2px;
  cursor: pointer;
  font-size: calc(var(--df-font-size-base) + 8px);
  font-family: var(--df-font-family-base);

  /* Esconde o Radio Button Nativo do Browser */
  > input {
    opacity: 0;
    position: absolute;
    cursor: pointer;
  }

  /* Estilo Base do checkmark */
  > .checkmark {
    display: inline-block;
    border-radius: 50%;
    height: 22px;
    width: 22px;
    border: 2px solid var(--df-color-gray-dark);
    position: absolute;
    top: 0;
    left: 0;

    /* Estilo base do Ponto */
    &:after {
      width: 12px;
      height: 12px;
      border-radius: 50%;
      position: absolute;
      content: "";
      top: 3px;
      left: 3px;
      background-color: var(--df-color-primary);
      display: none;
    }
  }

  /* Estiliza e preenche o fundo do Ckemark quando radiobutton é checado */
  > input:checked ~ .checkmark {
    background-color: white;
    border-color: var(--df-color-primary);
  }

  /* Mostra o ponto quando radio button for checado */
  > input:checked ~ .checkmark:after {
    display: block;
  }
}
