.df-table{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    background-color: white;
    padding-top: 28px;
}

/* HEAD */
.df-table >.head{
    font-size: calc(var(--df-font-size-base) + 6px);
    font-weight: 600;
    color: var(--df-color-gray-light);
}

.df-table >.head >.row{
    display: grid;
    grid-template-columns: 2fr 1fr 120px;
    padding: 0 32px;
}

/* BODY */
.df-table >.body{ 
    
}

.df-table >.body >.row{ 
    display: grid;
    padding: 24px 32px;
    grid-template-columns: 2fr 1fr 120px;
    border-bottom: 1px solid var(--df-color-gray-lighter);
}

.df-table >.body >.row:last-child{ 
    border-bottom: none;
}

/* BODY - TITLE-DESCRIPTION */

.df-table >.body >.row >.title-description { 

}

.df-table >.body >.row >.title-description >.title{ 
    font-weight: 600;
    margin-bottom: 8px;
}

.df-table >.body >.row >.title-description >.description{ 

}

/* BODY - PRICE */

.df-table >.body >.row >.price{ 
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

/* BODY -ACTIONS */
.df-table >.body >.row >.actions{ 

}

.df-table >.body >.row >.actions >.edit{ 
    color: var(--df-color-primary);
    margin-right: 5px;
    cursor: pointer;
}

.df-table >.body >.row >.actions >.delete{ 
    color: var(--df-color-danger);
    cursor: pointer;
}