.df-wrapper {
  max-width: var(--df-main-wrapper);
  margin: 0 auto;

   .main-content {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: var(--dv-header-size);

    &.-one-col {
      grid-template-columns: 1fr;
    }

     .back-btn {
      position: fixed;
      top: calc(var(--dv-header-size) + 40px);
      font-size: calc(var(--df-font-size-base) + 30px);
      cursor: pointer;
      color: var(--df-color-gray-dark);
      text-decoration: none;
    }

     .left {
      padding-top: 48px;
    }

     .right {
      height: calc(100vh - var(--dv-header-size));
      position: relative;

       .image {
        position: absolute;
        height: 100%;
        top: 0;
        min-width: 100%;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}
