<div class="df-register">
  <df-wrapper>
    <form
      class="left"
      (submit)="cadastrar()"
      action="javascript:void(0)"
      [formGroup]="registerForm"
    >
      <h1 class="main-title">
        <span class="up">Olá</span>
        <span class="down">Vamos criar seu cadastro.</span>
      </h1>

      <div class="radio-buttons">
        <h3 class="title">Qual o seu perfil?</h3>
        <div class="buttons">
          <label class="df-radio">
            Dev
            <input name="role" type="radio" (click)="toggleRole('dev')" />
            <span class="checkmark"></span>
          </label>

          <label class="df-radio">
            Client
            <input name="role" type="radio" (click)="toggleRole('cliente')" />
            <span class="checkmark"></span>
          </label>
        </div>
      </div>
      <span class="role-invalid" *ngIf="isInvalid('role', 'required')">{{
        msg.role
      }}</span>

      <mat-form-field>
        <mat-label>Nome completo</mat-label>
        <input matInput formControlName="fullName" />
        <mat-error *ngIf="isInvalid('fullName', 'required')">{{
          msg.required
        }}</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Data de nascimento</mat-label>
        <input type="date" matInput formControlName="birthDate" />
        <mat-error *ngIf="isInvalid('birthDate', 'required')">{{
          msg.required
        }}</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Email</mat-label>
        <input type="email" matInput formControlName="email" />
        <mat-error *ngIf="isInvalid('email', 'required')">{{
          msg.required
        }}</mat-error>
        <mat-error *ngIf="isInvalid('email', 'email')">{{
          msg.email
        }}</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Senha</mat-label>
        <input type="password" matInput formControlName="password" />
        <mat-error *ngIf="isInvalid('password', 'required')">{{
          msg.required
        }}</mat-error>
      </mat-form-field>

      <df-button text="Continuar" />
    </form>
    <div class="right">
      <img
        class="image"
        src="assets/image/bg-cubes.png"
        alt="Fundo de decoração com 3 cubos com fundo gradient com multi cores"
      /></div
  ></df-wrapper>
</div>
