.df-register {
  .left {
    max-width: 450px;
    margin: auto;

    > .main-title {
      font-weight: 800;
      margin-bottom: 40px;
    }

    > .radio-buttons {
      margin-bottom: 42px;

      > .buttons > .df-radio {
        margin-right: 70px;
      }

      > .title {
        font-size: calc(var(--df-font-size-base + 8px));
        font-weight: 800;
        margin-bottom: 16px;
      }
    }

    > .main-title {
      > .up {
        font-size: calc(var(--df-font-size-base) + 38px);
        display: block;
        margin-bottom: 7px;
      }

      > .down {
        font-size: calc(var(--df-font-size-base) + 22px);
      }
    }

    > .steps {
      display: block;
      font-weight: 800;
      font-size: calc(var(--df-font-size-base) + 4px);
      color: var(--df-color-gray);
      margin-bottom: 13px;
    }
  }
}
