/* CSS da página list de projetos */
.df-list {
  .title-button {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;

    .title {
      font-size: calc(var(--df-font-size-base) + 30px);
      font-weight: 700;
    }
  }

  .table-wrapper {
    margin-top: 32px;
  }
}
