<div class="df-list">
  <df-wrapper type="one-col">
    <div class="title-button">
      <h1 class="title">Projetos</h1>
      <div class="button-wrapper">
        <a href="project-create-edit.html" class="df-button -small"
          >Novo Projeto</a
        >
      </div>
    </div>

    <div class="table-wrapper">
      <div class="df-table">
        <div class="head">
          <div class="row">
            <div>Título</div>
            <div>Custo Total</div>
            <div>Ações</div>
          </div>
        </div>
        <div class="body" id="table_body"></div>
      </div>
    </div>
  </df-wrapper>
</div>
