<div class="df-list">
  <df-wrapper type="one-col">
    <div class="title-button">
      <h1 class="title">Projetos</h1>
      <div class="button-wrapper">
        <!-- <a href="project-create-edit.html" class="df-button -small"
          >Novo Projeto</a
        > -->
        <df-button text="Novo Projeto"></df-button>
      </div>
    </div>

    <div class="table-wrapper">
      <div class="loading" *ngIf="loadingTable === false">
        Carregando tabela!!!
      </div>
      <div *ngIf="loadingTable === true">
        <div class="df-table">
          <div class="head">
            <div class="row">
              <div>Título</div>
              <div>Custo Total</div>
              <div>Ações</div>
            </div>
          </div>
          <div class="body">
            <div class="row" *ngFor="let listItem of list$ | async">
              <div class="title-description">
                <h6 class="title">{{ listItem.title }}</h6>

                <p class="description">{{ listItem.description }}</p>
              </div>
              <div class="price">
                {{ listItem.totalCost | currency }}
              </div>

              <div class="actions">
                <span
                  class="edit material-symbols-outlined"
                  (click)="goToEdit(listItem.id)"
                >
                  edit
                </span>
                <span
                  class="delete material-symbols-outlined"
                  (click)="deleteProject(listItem.id)"
                  >delete</span
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </df-wrapper>
</div>
